<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211272924311-9cmkgvqd0o291pmol2lv9ri3n50dsgvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211272924311-9cmkgvqd0o291pmol2lv9ri3n50dsgvq</string>
	<key>API_KEY</key>
	<string>AIzaSyBOyzRzj2-uxjKh5lIbqqgwIHoHQisdHSI</string>
	<key>GCM_SENDER_ID</key>
	<string>211272924311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hwebservices.gbearwoof</string>
	<key>PROJECT_ID</key>
	<string>social-hwebservices</string>
	<key>STORAGE_BUCKET</key>
	<string>social-hwebservices.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211272924311:ios:205369a5f24dc7e8107dd2</string>
	<key>DATABASE_URL</key>
	<string>https://social-hwebservices-default-rtdb.firebaseio.com</string>
</dict>
</plist>